.dl-container {
    position: relative;
    user-select: none;
}

.dl-item {
    position: relative;
    width: 100%;
    cursor: move;
    transition: transform, boix-shadow 0.2s ease;
    user-select: none;

}

.dl-item.dl-dragging {
    cursor: grabbing;
    opacity: 0.8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dl-item.dl-dragging * {
    pointer-events: none;
}


